

<ion-content class="card-formulario">
<ion-card>
 <form  [formGroup]="formulario" (ngSubmit)="irFormulario2()">
<ion-grid>
<ion-row>

  <ion-col col-11>
    <img src="assets/img/logo.jpg" class="logo img-fluid" alt="...">
  </ion-col>
  <ion-col class="titulo centrado" col-12><h1>1/2</h1></ion-col>
  <ion-col class="titulo2 centrado" col-12>Datos Personales</ion-col>
   <ion-col col-12>
  <ion-list>
  <ion-item >
  <ion-label class=" centrado" stacked>Nombre</ion-label>
  <ion-input class="inputs" type="text" placeholder="Maria" formControlName="nombre"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label class=" centrado" stacked>Apellido</ion-label>
  <ion-input class="inputs" type="text" placeholder="Lopez" formControlName="apellido"></ion-input>
  </ion-item>
  <ion-item>
  <ion-label class=" centrado" stacked>Genero</ion-label>
  <ion-select   placeholder="Masculino"
  class="inputs  centrado" formControlName="genero">
  <ion-option  value="Masculino" selected="true" >Masculino</ion-option>
  <ion-option value="Femenino">Femenino</ion-option>
</ion-select>
  </ion-item>
  <ion-item>
  <ion-label class=" centrado" stacked>Fecha nacimiento</ion-label>
  <ion-datetime  class="inputs " formControlName="fecha"
  displayFormat="MM  DD  YYYY" pickerFormat="MM  DD YYYY" placeholder="01 01 2017" ></ion-datetime>
  </ion-item>
</ion-list>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col col-12 class="boton-siguiente">
  <button type="submit" block class="button-block boton button"
  ion-button round>Siguiente</button>
  </ion-col>
</ion-row>


</ion-grid>
</form>






</ion-card>
</ion-content>
